.table-container {
  padding: 20px;
  width: 100%;
  overflow-x: auto;
  box-sizing: border-box;
}

.custom-table {
  width: max-content; 
  min-width: 100%;   
  border-collapse: collapse;
  font-size: 0.95rem;
}

.custom-table th,
.custom-table td {
  border: 2px solid var(--color-primary);
  padding: 10px 14px;
  text-align: left;
  white-space: nowrap; 
}
.custom-table thead {
  background-color: #f4f4f4;
}

.custom-table tr:nth-child(even) {
  background-color: #fafafa;
}

.custom-table tr:hover {
  background-color: #f1f7ff;
}

@media (max-width: 768px) {
  .custom-table {
    font-size: 0.85rem;
  }

  .table-container {
    padding: 10px;
  }

  .custom-table th,
  .custom-table td {
    padding: 8px;
  }
}